!/input/example.png
!/web/extensions/core/
!/web/extensions/logging.js.example
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
# Byte-compiled / optimized / DLL files
# C extensions
# Distribution / packaging
# Django stuff:
# Environments
# Flask stuff:
# IPython
# Installer logs
# Jupyter Notebook
# PyBuilder
# PyInstaller
# Pyre type checker
# Pytest cache
# Rope project settings
# SFTP configuration
# Scrapy stuff:
# Sphinx documentation
# Sublime Text
# Translations
# Unit test / coverage reports
# Windows
# macOS
# mypy
# pipenv
# poetry
# pyenv
# vscode
*$py.class
*.ckpt
*.code-workspace
*.cover
*.egg
*.egg-info/
*.h5
*.joblib
*.log
*.manifest
*.mlmodel
*.mo
*.onnx
*.pb
*.pbtxt
*.pkl
*.png
*.pot
*.pt
*.pth
*.py[cod]
*.safetensors
*.so
*.spec
*.sublime-workspace
*.tflite
*.webp
.DS_Store
.build/
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pyre/
.python-version
.ropeproject
.scrapy
.settings/
.sftp-config.json
.tox/
.venv
.vscode/
.webassets-cache
/.vs
/input/
/models/
/output/
/temp/
/tests-ui/data/object_info.json
/user/
/web/extensions/*
/workflows*/*.json
Desktop.ini
ENV/
Pipfile.lock
Thumbs.db
__pycache__/
__pytest_cache__/
custom_nodes/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
ehthumbs.db
env.bak/
env/
extra_model_paths.yaml
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
parts/
pip-delete-this-directory.txt
pip-log.txt
poetry.lock
profile_default/
pytestdebuglog.txt
sdist/
target/
var/
venv.bak/
venv/
